
/*-------------Global Layout Set-up-------------*/
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #222;
    background: white;
    
  }
  .woodBackground{
    background-color: #ff6600;
  }

  

  /*-------------Link Styles-------------*/
  
  a {
    text-decoration: none;
    color: #ff6600;
  }
  a:hover {
    color: white;
  }
  
/*-------------Header-------------*/

  .main-nav {
    width: 100%;
    background: black;
    min-height: 10px;
    padding: 5px;
    position: fixed;
    text-align: center;
  }
  .nav {
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  .nav li {
    padding: 5px 10px 10px 10px;
    display: block;
    width: 100%;
  }


  /*-------------BNB Logo-------------*/
  .banner {
	  color: black;
    background: white;
    padding-top: 80px;
    font-size: 1.5em;

  }
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 50%;
  border-color: black;
  text-align: left;
  border: solid 1px;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on, and when you hover */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel (answers).*/
.panel {
  background-color: white;
  width: 70%;
  padding-left: 28%;
  text-align: left;
  display: none;
  overflow: hidden;
}
/*-------------Information above footer on main page-------------*/
  .col{
    display: inline-block;
    margin-right: -4px;
    width: 50%;
  }

  /*-------------Footer-------------*/
 .main-footer {
    width: 100%;
    min-height: 30px;
    background: black;
    color: white;
    font-size: 15px;
    position: fixed;
  }


  
/*************************
      Media Queries
*************************/

/*-------------Small Size Screens-------------*/
@media only screen and (min-width: 600px) {
 .nav {
  display: flex;
 }
 
  .nav a {
    float: left;
    width: auto;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0;
  }

  .nav li {
    margin-left: 0;
    width: auto;
    display: inline-block;
  }


}
  /*-------------Medium Size Screens-------------*/
@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {
  
  
    .nav .main-nav {
      max-width: 1200px;
      
    }
  
    .nav .name  {
      display: block;
      margin-right: auto;
      color: white;
    }
  
    main {
      padding-top: 50px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
    footer {
      background: black;
      color: white;
      font-size: 1.3em;
      padding: 2em 0; 
    }
    
  	/* ---- Float clearfix ---- */

    .clearfix::after {
		  content: " ";
		  display: table;
		  clear: both;
	  }
  }
  
